.footer-newsletter form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: #28251f;
  color: white;
}

.footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #cda45e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

.footer-newsletter form input[type="submit"]:hover {
  background: #d3af71;
}

.btn-index {
  background: #cda45e;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.btn-register {
  background: #cda45e;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 10px;
}

.pagination a {
  margin: 5px;
}

.wine-comment {
  width: 50%;
  margin: 10px;
  padding: 10px;
  background-color: #0D0B09;
}

.wine-comment p {
  font-size: 16px;
}

.wine-maker {
  overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}

.wine-maker select {
  width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.wine-maker select::-ms-expand {
  display: none;
}

.wine-maker.select-box {
	position: relative;
	border-radius: 2px;
	border: 2px solid #bab3a6;
	background: #0D0B09;
}
.wine-maker.select-box::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #bab3a6;
	pointer-events: none;
}
.wine-maker.select-box select {
	padding: 8px 38px 8px 8px;
	color: #bab3a6;
}

input[type="file"] {
  display: none;
}

label {
  padding: 10px 40px;
  color: #ffffff;
  background-color: #d3af71;
  cursor: pointer;
  margin-top: 10%;
}

.login-label {
  margin: 0;
}

.form-row .form-group-login {
  display: block;
  margin-top: 10px;
  margin-left: 33%;
}

.form-row .form-group-login .form-check input {
  height: 15px;
}

.form-row .form-group-login .form-check span {
  color: #d3af71;
  font-size: 15px;
}

.btn-primary-login {
  margin-left: 20%;
}

.form-group p {
  font-size: 14px;
  margin-left: 18%;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .form-row .form-group-login {
    margin-left: 0;
  }
  .btn-primary-login {
    margin-left: 33%;
  }

  .form-group p {
    margin-left: 30%;
  }
}
